<!-- <button type="submit" class="btn btn-primary" (click)="listar()">Listar</button> -->
{{message}}
<div class="container container animacion velocidad desvanecido">
    <h2>Personas</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Tipo de usuario</th>
                <th>Estado</th>
                <th>Correo</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of personas">
                <td> {{user.id}} </td>
                <td> {{user.nombre}} </td>
                <td> {{user.apellidos}} </td>
                <td> {{user.rol}} </td>
                <td> {{user.estado}}</td>
                <td> {{user.correo}} </td>


                <td> <button Style="background-color:darkslategray" (click)="eliminar(user.id)" type="submit" class="btn btn-primary" data-whatever="@getbootstrap"><i class="fas fa-times"></i></button></td>

                <td> <button Style="background-color:darkslategray" type="submit" class="btn btn-primary" [routerLink]="['/editarpersona', user.id]"   data-toggle="modal" data-whatever="@getbootstrap"><i class="fas fa-edit"></i></button></td>
            </tr>




        </tbody>
    </table>
</div>