body {
    height: 100%;
    width: 100%;
}

agm-map {
    height: 660px;
    width: 100%;
}

.drawer-container {
    height: 100%;
    width: 100%
}

h2 {
    color: rgb(126, 184, 164);
}

.boton-sidenav-content {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sidenav {
    padding: 30px;
    background-color: #343a40;
}

.tab-img {
    position: relative;
    max-height: 80px;
    max-width: 100px;
}

.mat-bottom-sheet-container {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    padding: 8px 16px;
    min-width: 100vw;
    box-sizing: border-box;
    display: block;
    outline: 0;
    max-height: 80vh;
    overflow: auto;
}

.form-filtro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-filtro .form-group {
    flex-grow: 1;
    padding: 0 5px 0 0;
    flex-basis: 10%;
}

.form-filtro .form-control {
    width: 100%;
}

.form-filtro .form-nowrap {
    white-space: nowrap;
}

.flotante {
    position: absolute;
    z-index: 99;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.897);
    font-size: smaller;
    width: 150px;
}

.filtrado {
    top: 60px;
    right: 10px;
}

.columna-filtros {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    text-align: left;
}