body {
    background-image: url(../../../assets/imagenes/fondo2.jpg);
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
}

input {
    background-color: transparent;
}