<div class="container">
    <h2>Mis negocios</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de negocio</th>
                <th>Nit</th>
                <th>Foto</th>
                <th>Detalle</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let negocio of negocios">
                <td> {{negocio.nombreempresa}}</td>
                <td> {{negocio.tiponegocio}} </td>
                <td> {{negocio.nit}} </td>
                <td> {{negocio.foto}} </td>
                <td> {{negocio.detalle}} </td>
                <td> {{negocio.ubicacion}} </td>
                <td> <button Style="background-color:darkslategray" type="submit" (click)="eliminarNegocio(negocio.idnegocio)" class="btn btn-primary" data-whatever="@getbootstrap"><i class="fas fa-times"></i></button></td>

                <td> <button Style="background-color:darkslategray" type="submit" class="btn btn-primary"  [routerLink]="['/editarnegocio', negocio.idnegocio]" data-toggle="modal" data-whatever="@getbootstrap"><i class="fas fa-edit"></i></button></td>
                <td> <button Style="background-color:darkslategray" class="btn btn-primary" type="submit" [routerLink]="['/oferta', negocio.idnegocio]">ofertas</button></td>





            </tr>




        </tbody>
    </table>
</div>